.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


.btn {
  display: block; /* Change from inline-block to block */
  margin: 20px auto; /* Auto margin centers it horizontally */
  padding: 15px 30px;
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
  color: white;
  background: linear-gradient(45deg, #00ADB5, #4ECCA3);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background: linear-gradient(45deg, #4ECCA3, #00ADB5);
  transform: scale(1.1);
}

.btn:active {
  transform: scale(0.95);
}
